<!DOCTYPE HTML>
<html lang="pt-br">
<head>
    <% include includes/header %>
</head>
<body>
<% include includes/menu %>

<div class="container">
    <div id="search-form-container">
        <form id="searchForm">
            <h1 style="max-width: 500px;">Monitore seus investimentos e acerte nas suas decisões</h1>
            <p class="subtitle">Pesquise uma ação</p>
            <div class="input-group mb-3">
                <input type="text" class="form-control" name="searchWord" placeholder="Digite um nome, símbolo, etc">
                <div class="input-group-append">
                    <button type="submit" class="btn btn-stockwatch"><i class="fas fa-search"></i></button>
                </div>
                <div class="invalid-feedback" id="msg-error-container"></div>
            </div>

        </form>
    </div>

    <div id="results-containers">

    </div>
</div>

<% include includes/footer %>

<% include includes/templates %>

<script type="text/javascript">
    $(document).ready(function(){
      Controller.start(BASE_URL);
    });
</script>
</body>
</html>